@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&family=Yuyu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Crafty+Girls&family=Dancing+Script:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montenegrin+Gothic+One&family=Yuyu&display=swap');

body {
    margin: 10;
    min-height: 100vh;
        background: linear-gradient(
            #008f88,
            #02b74d,
            #66b702  
        );   
    }
    .intro h1 {
        text-align: center;
        font-family: 'Yuyu', sans-serif;
        font-size: 50px;
        color: rgb(100, 187, 237);
    }
    .intro p{
        font-size: 24px;
        font-family: 'Montenegrin Gothic One';
        text-shadow:  0 0 12px rgba(230, 203, 0, 0.8),
        0 0 30px rgba(0, 230, 176, 0.4);
        
    }
    .front-img {
        display: block;
        margin: 0 auto;
        text-align: center;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 5px solid rgb(8, 92, 82);
    }
     .user-name{
    display: inline-block;
    color: rgb(92, 8, 8);
    width: 13ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    animation:
        typing 3s steps(13) forwards,
        blink .7s step-end infinite;
}

@keyframes typing{
    from{
        width:0;
    }
    to{
        width:13ch;
    }
}